<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        韩西瓜 | 我要喝啤酒
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileImage" content="{{ .Site.Data.data.favico }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.Data.data.favico }}">
    <link rel="icon" href="{{ .Site.Data.data.favico }}" sizes="32x32">
    <link rel="icon" href="{{ .Site.Data.data.favico }}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ .Site.Data.data.favico }}">
    <link rel="shortcut icon" href="{{ .Site.Data.data.favico }}">
    <link href="{{ .Site.Data.data.favico }}"
    rel="apple-touch-icon">
    <!-- NewsBoard CSS -->
    <link rel="stylesheet" href="http://file.hanyu.cool/site/tech/static/v1/css/style.css">
    <link rel="stylesheet" href="http://file.hanyu.cool/site/tech/static/v1/css/widgets.css">
    <link rel="stylesheet" href="http://file.hanyu.cool/site/tech/static/v1/css/responsive.css">
</head>