
    <!-- Start Main content -->
    <main>
        <!--archive header-->
        <div class="archive-header pt-50">
            <div class="container">
                <h2 class="font-weight-900">{{.Title}}</h2>
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> {{.Title}}
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-50"></div>
            </div>
        </div>
        <div class="pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post-module-3">                         
                            <div class="loop-list loop-list-style-1">
                                {{ $color := dict "0" "text-primary" "1" "text-success" "2" "text-warning" "3" "text-danger"}}

                                {{ $paginator := .Paginate .RegularPagesRecursive }}
                                {{ range  $num,$name := $paginator.Pages  }}
                                {{ $s :=  string (mod $num 4)}}
                                
                                <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-4">
                                            <div class="post-thumb position-relative border-radius-5">
                                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url({{.Params.custom_cover}})">
                                                    <a class="img-link" href="{{ .Permalink }}"></a> 
                                                </div>
                                                <ul class="social-share">
                                                    <li><a href="javascript:alert('暂时无法使用分享功能')"><i class="elegant-icon social_share"></i></a></li>
                                                    <li><a class="fb" href="javascript:alert('暂时无法使用分享功能')" title="Share on Facebook" ><i class="elegant-icon social_facebook"></i></a></li>
                                                    <li><a class="tw" href="javascript:alert('暂时无法使用分享功能')" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                    <li><a class="pt" href="javascript:alert('暂时无法使用分享功能')"  title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8 align-self-center">
                                            <div class="post-content">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                           
                                                     <span class="post-cat {{ echoParam $color $s }}" > 
                                                        {{ range  (.GetTerms "categories") }}   
                                                        <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color $s }}"> {{ .LinkTitle }} <a/>  &nbsp;  
                                                        {{ end }}
                                                    </span>                               
                                                    <span>
                                                        {{ range  (.GetTerms "tags") }}  
                                                         <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color $s }}"> #{{ .LinkTitle }} <a/>&nbsp;
                                                        {{end}} 
                                                    </span>
                                                        
                                                    
                                                </div>
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a href="{{ .Permalink }}">{{ .Title }} </a>
                                                    <span class="post-format-icon"><i class="elegant-icon icon_star_alt"></i></span>
                                                </h5>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on"> {{ .Date.Format "Monday, January 2, 2006"  }}</span>
                                                    <span class="time-reading has-dot">{{ .ReadingTime  }} mins read</span>
                                                    <span class="post-by has-dot">{{ .WordCount }} words</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {{ end }}
                            </div>
                        </div>
                         {{  partial "paginator.html" . }} 
                    </div>
                    <div class="col-lg-4">
                        <div class="widget-area">
                            <div class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
                                <img class="about-author-img mb-25" src="/assets/imgs/authors/author.jpg" alt="">
                                <h5 class="mb-20">{{ $.Site.Data.data.text.listCardIntroTitle }}</h5>
                                <p class="font-medium text-muted">{{ $.Site.Data.data.text.listCardIntroContent }}</p>
                                <strong>Follow me: </strong>
                                <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                    <li class="list-inline-item"><a class="fb" href="javascript:alert('暂时无法使用关注功能')"  title="Facebook"><i class="elegant-icon social_facebook"></i></a></li>
                                    <li class="list-inline-item"><a class="tw" href="javascript:alert('暂时无法使用关注功能')"  title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="pt" href="javascript:alert('暂时无法使用关注功能')"  title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                                <div class="widget-header-1 position-relative mb-30">
                                    <h5 class="mt-5 mb-30">Most popular</h5>
                                </div>
                                <div class="post-block-list post-module-1">
                                    <ul class="list-post">
                                        {{ $counts := 0}}
                                        {{ range  .RegularPagesRecursive }}
                                        {{ if eq .Params.pageLocaltion "popular"}}
                                        {{ $counts = add $counts 1}}
                                        {{ if le $counts 3}}
                                        <li class="mb-30 wow fadeInUp animated">
                                            <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                                <div class="post-content media-body">
                                                    <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="{{ .Permalink }}">{{ .Title }}</a></h6>
                                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                        <span class="post-on">{{ .Date.Format "January 2, 2006"  }}</span>
                                                        <span class="post-by has-dot">Words {{ .WordCount }} </span>
                                                    </div>
                                                </div>
                                                <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                    <a class="color-white" href="{{.Permalink}}">
                                                        <img src="{{ .Params.custom_cover}}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                          {{ end }}
                                        {{ end }}
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                           
                            <div class="sidebar-widget widget_instagram wow fadeInUp animated">
                                <div class="widget-header-1 position-relative mb-30">
                                    <h5 class="mt-5 mb-30">Author</h5>
                                </div>
                                <div class="instagram-gellay">
                                    <ul class="insta-feed">
                                        
                                        {{ with .Site.GetPage "Section" "photo"}}
                                        {{ range  first 6 .RegularPages }}
                                        <li> 
                                            <a href="{{ .Permalink }}"  data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="{{ .Params.custom_cover }}" alt="{{ .Title }}"></a></li>
                                        {{ end }}
                                        {{ end }}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main content -->


