    <!-- Start Main content -->
    <main  class="bg-grey pb-30">       
        <div class="container pt-30">
            <div class="featured-slider-3 position-relative">
                <div class="slider-3-arrow-cover"></div>
                <div class="featured-slider-3-items">

                {{ $color := dict "0" "text-primary" "1" "text-success" "2" "text-warning" "3" "text-danger"}}
                {{ with .Site.GetPage "Section" "home-banner" }} 
                {{ range .RegularPages}}
                    <div class="slider-single overflow-hidden border-radius-10">
                        <div class="post-thumb position-relative">
                            <div class="thumb-overlay position-relative" style="background-image: url({{ .Params.custom_cover}})">
                                <div class="post-content-overlay">
                                    <div class="container">
                                        <div class="entry-meta meta-0 font-small mb-20">
                                            <div class="entry-meta meta-0 font-small mb-20">
                                       {{ range $num,$name := (.GetTerms "tags") }}  
                                      <a  href="{{ .Permalink }}" tabindex="0"><span class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }} text-uppercase"># {{ .LinkTitle }}</span></a>
                                      {{ end }}
                                        </div>
                                        <h1 class="post-title mb-20 font-weight-900 text-white">
                                            <a class="text-white" href="{{ .Permalink }}" tabindex="0" style="white-space:normal;word-wrap:break-word">{{ .Title }}</a>
                                        </h1>
                                        <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                            <span class="post-on">{{ .Date.Format "Monday, January 2, 2006"  }}</span>
                                            <span class="hit-count has-dot">{{ .WordCount }} words</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  {{ end  }}
                  {{ end  }}
                </div>
            </div>
        </div>      
        <!-- End feature -->
        <div class="container">
            <div class="hot-tags pt-30 pb-30 font-small align-self-center">
                <div class="widget-header-3">
                    <div class="row align-self-center">
                        <div class="col-md-4 align-self-center">
                            <h5 class="widget-title">Featured posts</h5>
                        </div>
                        <div class="col-md-8 text-md-right font-small align-self-center">
                            <p class="d-inline-block mr-5 mb-0"><i class="elegant-icon  icon_tag_alt mr-5 text-muted"></i>Hot tags:</p>
                            <ul class="list-inline d-inline-block tags">
                                {{ range .Site.Taxonomies.tags }}  
                                <li class="list-inline-item"><a href="{{ .Page.Permalink }}"># {{ .Page.Title }}</a>({{ .Count }})</li>
                                 {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loop-grid mb-30">
                <div class="row">
                    <div class="col-lg-8 mb-30">
                        <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
                            <div class="arrow-cover"></div>
                            <div class="slide-fade">

                                 {{ with .Site.GetPage "Section" "home-featured-banner" }}
                                 {{ range .RegularPages }}
                                <div class="position-relative post-thumb">
                                    <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url({{ .Params.custom_cover}})">
                                        <a class="img-link" href="{{ .Permalink }}"></a>
                                        <span class="top-left-icon bg-warning"><i class="elegant-icon icon_star_alt"></i></span>
                                        <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                            <div class="entry-meta meta-0 font-small mb-20">
                                                  <span class="post-cat" > 
                                                        {{ range   $num,$name := (.GetTerms "categories") }}   
                                                      
                                                        <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }}">[{{ .LinkTitle }}]<a/> 
                                                        {{ end }}
                                                    </span>      

                                                {{ range $num,$name := (.GetTerms "tags") }}  
                                          
                                                <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }} text-uppercase"># {{ .LinkTitle }}</a>
                                                  {{ end }}
                                            </div>
                                            <h3 class="post-title font-weight-900 mb-20">
                                                <a class="text-white" href="{{ .Permalink }}">{{ .Title }}</a>
                                            </h3>
                                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                                <span class="post-on">{{ .Date.Format "Monday, January 2, 2006"  }}</span>
                                                <span class="hit-count has-dot">{{ .WordCount }} words</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                                {{ end }}
                            </div>
                        </div>
                    </div>

                       {{ with .Site.GetPage "Section" "home-featured-article" }}
                       {{ range .RegularPages }}
                    <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                        <div class="post-card-1 border-radius-10 hover-up">
                            <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{ .Params.custom_cover}})">
                                <a class="img-link" href="{{ .Permalink }}"></a>
                                <span class="top-right-icon bg-success"><i class="elegant-icon icon_camera_alt"></i></span>
                                <ul class="social-share">
                                    <li><a href="javascript:alert('暂时无法使用分享功能')"><i class="elegant-icon social_share"></i></a></li>
                                    <li><a class="fb" href="javascript:alert('暂时无法使用分享功能')" title="Share on Facebook" ><i class="elegant-icon social_facebook"></i></a></li>
                                    <li><a class="tw" href="javascript:alert('暂时无法使用分享功能')"  title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                    <li><a class="pt" href="javascript:alert('暂时无法使用分享功能')"  title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                </ul>
                            </div>
                            <div class="post-content p-30">
                                <div class="entry-meta meta-0 font-small mb-10">
                                                    <span class="post-cat" > 
                                                        {{ range   $num,$name := (.GetTerms "categories") }}   
                                                       
                                                        <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }}">[{{ .LinkTitle }}]<a/> 
                                                        {{ end }}
                                                    </span>  
                                                {{ range $num,$name := (.GetTerms "tags") }}  
                                               
                                                <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }} "># {{ .LinkTitle }}</a>
                                                  {{ end }}
                                </div>
                                <div class="d-flex post-card-content">
                                    <h5 class="post-title mb-20 font-weight-900">
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </h5>
                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                        <span class="post-on">{{ .Date.Format "January 2, 2006" }}</span>
                                        <span class="time-reading has-dot">{{.ReadingTime}} mins read</span>
                                        <span class="post-by has-dot">{{ .WordCount }} words</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                         {{ end }}
                         {{ end }}
                </div>
            </div>
        </div>
        <div class="bg-grey pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post-module-2">
                            <div class="widget-header-1 position-relative mb-30  wow fadeInUp animated">
                                <h5 class="mt-5 mb-30">Tips</h5>
                            </div>
                            <div class="loop-list loop-list-style-1">
                                <div class="row">
                                    {{ with .Site.GetPage "Section" "home-featured-article" }}
                                    {{ range .RegularPages }}
                                    <article class="col-md-6 mb-40 wow fadeInUp  animated">
                                        <div class="post-card-1 border-radius-10 hover-up">
                                            <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{ .Params.custom_cover}})">
                                                <a class="img-link" href="{{ .Permalink }}"></a>
                                                <ul class="social-share">
                                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                    <li><a class="fb" href="javascript:alert('暂时无法使用分享功能')" title="Share on Facebook" ><i class="elegant-icon social_facebook"></i></a></li>
                                                    <li><a class="tw" href="javascript:alert('暂时无法使用分享功能')" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                    <li><a class="pt" href="javascript:alert('暂时无法使用分享功能')"  title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="post-content p-30">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                          <span class="post-cat" > 
                                                        {{ range   $num,$name := (.GetTerms "categories") }}   
                                                       
                                                        <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }}">[{{ .LinkTitle }}]<a/> 
                                                        {{ end }}
                                                    </span>  
                                                {{ range $num,$name := (.GetTerms "tags") }}  
                                               
                                                <a href="{{ .Permalink }}" class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }} "># {{ .LinkTitle }}</a>
                                                  {{ end }}
                                                </div>
                                                <div class="d-flex post-card-content">
                                                    <h5 class="post-title mb-20 font-weight-900">
                                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                                    </h5>
                                                    <div class="post-excerpt mb-25 font-small text-muted">
                                                        <p>{{ .Summary }}</p>
                                                        {{ if .Truncated }}
                                                    <a href="{{ .RelPermalink }}" style="font-weight:bold;color:#09815c!important">Read More…</a>
                                                         {{ end }}
                                                    </div>

                                                    
                                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                        <span class="post-on">{{ .Date.Format "January 2, 2006" }}</span>
                                                        <span class="time-reading has-dot">{{.ReadingTime}} mins read</span>
                                                        <span class="post-by has-dot">{{ .WordCount }} words</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    {{ end }}
                                    {{ end }}

                                </div>
                            </div>
                        </div>
                        <div class="post-module-3">
                            <div class="widget-header-1 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Latest posts five</h5>
                            </div>
                            <div class="loop-list loop-list-style-1">

                               {{ range first 5  ((where  $.Site.RegularPages "Section" "!="  "authorinfo").ByDate.Reverse)   }}
                                   

                                <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-4">
                                            <div class="post-thumb position-relative border-radius-5">
                                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url({{ .Params.custom_cover }})">
                                                    <a class="img-link" href="{{ .Permalink }}"></a>
                                                </div>
                                                <ul class="social-share">
                                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                    <li><a class="fb" href="javascript:alert('暂时无法使用分享功能')" title="Share on Facebook" ><i class="elegant-icon social_facebook"></i></a></li>
                                                    <li><a class="tw" href="javascript:alert('暂时无法使用分享功能')"  title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                    <li><a class="pt" href="javascript:alert('暂时无法使用分享功能')"  title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8 align-self-center">
                                            <div class="post-content">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                      {{ range   $num,$name := (.GetTerms "categories") }}   
                                                        <a href="{{ .Permalink }}" > <span class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }}">[{{ .LinkTitle }}]</span><a/> 
                                                        {{ end }} 
                                                </div>
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                                    <span class="post-format-icon"><i class="elegant-icon icon_star_alt"></i></span>
                                                </h5>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on"><time>{{ .Date.Format "January 2, 2006" }}</time>
                                                       </span>
                                                    <span class="time-reading has-dot">{{.ReadingTime}} mins read</span>
                                                    <span class="post-by has-dot">{{ .WordCount }} words</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {{ end }}
<!--                                 <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-4">
                                            <div class="post-thumb position-relative border-radius-5">
                                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news/news-4.jpg)">
                                                    <a class="img-link" href="single.html"></a>
                                                </div>
                                                <ul class="social-share">
                                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8 align-self-center">
                                            <div class="post-content">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                    <a href="category.html"><span class="post-cat text-success">Cooking</span></a>
                                                </div>
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a href="single.html">10 Easy Ways to Be Environmentally Conscious At Home</a>
                                                </h5>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">27 Sep</span>
                                                    <span class="time-reading has-dot">10 mins read</span>
                                                    <span class="post-by has-dot">22k views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-4">
                                            <div class="post-thumb position-relative border-radius-5">
                                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news/news-2.jpg)">
                                                    <a class="img-link" href="single.html"></a>
                                                </div>
                                                <ul class="social-share">
                                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8 align-self-center">
                                            <div class="post-content">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                    <a href="category.html"><span class="post-cat text-warning">Cooking</span></a>
                                                </div>
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a href="single.html">My Favorite Comfies to Lounge in At Home</a>
                                                </h5>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">7 August</span>
                                                    <span class="time-reading has-dot">9 mins read</span>
                                                    <span class="post-by has-dot">12k views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-4">
                                            <div class="post-thumb position-relative border-radius-5">
                                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news/news-3.jpg)">
                                                    <a class="img-link" href="single.html"></a>
                                                </div>
                                                <ul class="social-share">
                                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8 align-self-center">
                                            <div class="post-content">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                    <a href="category.html"><span class="post-cat text-danger">Travel</span></a>
                                                </div>
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a href="single.html">How to Give Your Space a Parisian-Inspired Makeover</a>
                                                </h5>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">27 August</span>
                                                    <span class="time-reading has-dot">12 mins read</span>
                                                    <span class="post-by has-dot">23k views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article> -->
                            </div>
                        </div>
<!--                         <div class="pagination-area mb-30 wow fadeInUp animated">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_left"></i></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link" href="#">04</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_right"></i></a></li>
                                </ul>
                            </nav>
                        </div> -->
                    </div>
                    <div class="col-lg-4">
                        <div class="widget-area">
                            <div class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
                                <img class="about-author-img mb-25" src="assets/imgs/authors/author.jpg" alt="">
                                <h5 class="mb-20">{{ $.Site.Data.data.text.listCardIntroTitle }}</h5>
                                <p class="font-medium text-muted">{{ $.Site.Data.data.text.listCardIntroContent }}</p>
                                <strong>Follow me: </strong>
                                <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                    <li class="list-inline-item"><a class="fb" href="#" target="_blank" title="Facebook"><i class="elegant-icon social_facebook"></i></a></li>
                                    <li class="list-inline-item"><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                                <div class="widget-header-1 position-relative mb-30">
                                    <h5 class="mt-5 mb-30">Most popular</h5>
                                </div>
                                <div class="post-block-list post-module-1">
                                    <ul class="list-post">

                                        
                                        {{ range  where .Sections "Section" "home"}}
                                        {{ range .Sections }}
                                        {{ if eq .CurrentSection.Title "popular"}}
                                        {{ range .Pages }}
                                        <li class="mb-30 wow fadeInUp animated">
                                            <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                                <div class="post-content media-body">
                                                    <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">{{ .Title}}</a></h6>
                                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                        <span class="post-on">{{ .Date.Format "January 2, 2006" }}</span>
                                                        <span class="post-by has-dot">words {{ .WordCount }} </span>
                                                    </div>
                                                </div>
                                                <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                    <a class="color-white" href="single.html">
                                                        <img src="assets/imgs/news/thumb-6.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        {{ end }}
                                        {{ end }}
                                        {{ end }}
                                        {{ end }}

                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                                <div class="widget-header-1 position-relative mb-30">
                                    <h5 class="mt-5 mb-30">Last comments</h5>
                                </div>
                                <div class="post-block-list post-module-2">
                                    <ul class="list-post">

                                        {{ with .Site.GetPage "Section" "authorinfo"}}
                                        {{ range first 4 .RegularPages }}
                                        <li class="mb-30 wow fadeInUp animated">
                                            <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                                <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                                    <a class="color-white" href="{{ .Permalink }}">
                                                        <img src="{{ .Params.avatarurl }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="post-content media-body">
                                                    <p class="mb-10"><a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
                                                        <span class="ml-15 font-small text-muted has-dot">{{ .Date.Format "January 2, 2006"  }}</span>
                                                    </p>
                                                    <p class="text-muted font-small">{{ .Content }}</p>
                                                </div>
                                            </div>
                                        </li>
                                          {{ end }}
                                        {{ end }}
  
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget widget_instagram wow fadeInUp animated">
                                <div class="widget-header-1 position-relative mb-30">
                                    <h5 class="mt-5 mb-30">Image</h5>
                                </div>
                                <div class="instagram-gellay">
                                    <ul class="insta-feed">
                                        {{ with .Site.GetPage "Section" "photo"}}
                                        {{ range first 6 .RegularPages }}
                                        <li>
                                            <a href="{{ .Permalink }}" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="{{.Params.custom_cover}}" alt=""></a>
                                             <!-- <a href="" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="" alt=""></a> -->
                                        </li>
                                        {{ end }}
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>