{{ $paginator := .Paginate .Pages }}
{{ $pag := $.Paginator }}
<div class="pagination-area mb-30 wow fadeInUp animated">
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-start">
<li class="page-item"><a class="page-link" href="javascript:console.log('hi');"><i class="elegant-icon arrow_left"></i></a></li>
    {{ range $pag.Pagers }}
<li class="page-item {{ if eq . $pag }}active{{ end }}"><a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a></li>                     
    {{ end }}
    <li class="page-item"><a class="page-link" href="javascript:console.log('hi');"><i class="elegant-icon arrow_right"></i></a></li>
</ul>
</nav>
</div>



        