  
    <!-- Start Main content -->
    <main>
        <!--archive header-->
            <div class="archive-header pt-50 text-center pb-50">
            <div class="container">
                <h2 class="font-weight-900"># {{.Title}}</h2>
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> {{.Title}}
                </div>
            </div>
        </div>
        <div class="container">
            <!--Loop Masonry-->

               {{ $paginator := .Paginate .RegularPagesRecursive }}
               {{ $color := dict "0" "text-primary" "1" "text-success" "2" "text-warning" "3" "text-danger"}}
            <div class="grid row mb-30">
                <div class="grid-sizer"></div>
                {{ range  $num,$name := $paginator.Pages  }}
                {{ $s :=  string (mod $num 4)}}
                <article class="grid-item col pb-50 wow fadeIn animated">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{.Params.custom_cover}})">
                            <a class="img-link" href="{{ .Permalink }}"></a>
                            <span class="top-right-icon bg-success"><i class="elegant-icon icon_camera_alt"></i></span>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <div class="entry-meta meta-0 font-small mb-10">
                                        {{ range $num,$name := (.GetTerms "categories") }}  
                                      <a  href="{{ .Permalink }}" tabindex="0"><span class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }} text-uppercase">{{ .LinkTitle }}</span></a>
                                      {{ end }}
                                      {{ range $num,$name := (.GetTerms "tags") }}  
                                      <a  href="{{ .Permalink }}" tabindex="0" class="post-cat {{ echoParam $color (string (index (shuffle (seq 0 3)) 0)) }} text-uppercase"># {{ .LinkTitle }}</a>
                                      {{ end }}

                            </div>
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h5>
                                   <div class="post-excerpt mb-25 font-small text-muted">
                                                        <p>{{ .Summary }}</p>
                                                        {{ if .Truncated }}
                                                    <a href="{{ .RelPermalink }}" style="font-weight:bold;color:#09815c!important">Read More…</a>
                                                         {{ end }}
                                                    </div>
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">{{ .Date.Format "Monday, January 2, 2006"  }}</span>
                                    <span class="time-reading has-dot">{{ .ReadingTime  }} mins read</span>
                                    <span class="post-by has-dot">{{ .WordCount }} words</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {{ end }}
            </div>
             {{  partial "paginator.html" . }} 
        </div>
    </main>
    <!-- End Main content -->


