{{ $cdn_url := .Scratch.Get "cdn_url" }}

  <script>
             function init(){
                var t = $("#description").text();
               //$("#description").next().remove();
               var hitokoto = document.getElementById("description");
               hitokoto.innerHTML = "";
               var typed = new Typed("#description", {
                   strings: [t],
                   typeSpeed: 80
               })
             };
             window.onload = function(){init()
    
}
    </script>


<div class="post-warp" style="padding-top:3rem">
    <div class="intro">
        {{ with .Site.Params.avatar}}
        {{ $avatar := .}}
        <div class="avatar">
            <a href="posts/"> <img src="{{ (printf "%s%s" $cdn_url $avatar)}}"> </a>
        </div>
        {{ end }}
        {{ if or .Params.gravatar.Email (and .Site.Params.gravatar.Email (ne .Params.gravatar.Email false)) }}
        <div class="avatar">
            <a href="posts/"> <img
                    src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar.email }}?s=240&d=mp"
                    alt="gravatar"> </a>
        </div>
        {{ end }}

         {{ if or .Params.gravatar.Email (and .Site.Params.gravatar.Email (ne .Params.gravatar.Email false)) }}
    <div class="avatar">
            <a href="posts/">  <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar.email }}?s=240&d=mp" alt="gravatar"> </a>
        </div>
        {{ end }}


     {{ with .Site.Params.subtitle}}
    <span  class="description" id="description">
       {{ . }}
    </span>
    {{ end }}
    
    <div class="social-links" style="font-size: 10px">
      {{ partial "social.html" . }}
    </div>

   <!--  <p><span id="hitokoto">load...</span></p> -->
   
          <!-- <a href="javascript: init()" style="width:auto;height:auto;max-width:12px;max-height:12px;">
            <img src="http://file-ok.hanyu.cool/hysite/hysite-home/static/img/refresh.png" style="width:auto;height:auto;max-width:100%;max-height:100%; filter:grayscale(100%) brightness(200%);"></a> -->

    </div>

       {{ range .Paginator.Pages }}
    <article class="post" itemscope itemscope="" itemtype="http://schema.org/Article" style="margin-bottom:2rem">

        <header class="post-header">
            <span class="post-title" itemprop="name headline" style="font-weight: bold;font-size:25px"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        </header>
        <div class="post-content">
            <!--featured_image-->
            {{ with .Params.featured_image }}
            {{- $img := . -}}
            <p><img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image" style="width:100%!important;height: 200px!important"></p>
            {{ end }}
            <!-- end featured_image-->
            <div style="color:gray;font-size: 12px"> {{ .Summary }} </div>

            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read More…</a>
              {{ end }}
        </div>
        <div class="post-footer">
            <div class="post-meta">
                <span class="post-time">
                    {{ if .Site.Params.dateformNumTime }}
          {{ dateFormat .Site.Params.dateformNumTime .Date.Local }}
        {{ else }}
          {{ dateFormat "2006-01-02 15:04" .Date.Local }}
        {{ end }}
                </span>
                in
                {{ with .Params.categories -}}
                <i class="iconfont icon-folder"></i>
                <span class="post-category">
                    {{ range . }}
                    {{- $name := . -}}
                    {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                    <a href="{{ .Permalink }}"> {{ $name }} </a>
                    {{ end -}}
                    {{ end }}
                </span>
                {{- end }}
            </div>
            {{ with .Params.tags }}
            <div class="post-tags" style="padding:0">
                {{ range . }}
                <span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}/">
                        #{{.}}</a></span>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </article>
    {{ end }}

    {{ partial "paginator.html" . }}
</div>